<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" />
<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />
<link rel="icon" type="image/png" href="http://i.imgur.com/XD17hkZ.png"/>


{% block content %}
    <h1>Patient Registration</h1>
    <form method="POST">{% csrf_token %}

        {{ user.non_field_errors }}


        {% for field in user %}
            <div class="fieldWrapper">
                {% if field.field.required %}

                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}

                {% endif %}

                <!-- We need to add non-required fields
                     at a later point. I want to do that
                     with Javascript and have it not go to
                     different pages, but rather "swipe" from
                     one form group to another. Once we have
                     a template I will look into it. -Colin  -->
            </div>
        {% endfor %}


        <button type="submit">Submit</button>
        <input type="button" value="Cancel" onclick="window.location.href='/'">
    </form>
{% endblock %}