

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" />
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="http://i.imgur.com/XD17hkZ.png"/>

    <title></title>
</head>

<body>
    <h1>No password changing yet!</h1>

    <h4>Check back during release 3</h4>
    <input type="button" value="return" onclick="window.location.href='/Profiles/'">
</body>

</html>