<html>
    <head>
        <title>List of Inactive Accounts</title>

        {% load staticfiles %}

        <link rel="stylesheet" type="text\css" href="{% static 'Profiles\profiles.css' %}" />
        <link rel="icon"
              type="image/png"
              href="http://i.imgur.com/XD17hkZ.png"/>

        <!-- Icons from Google Web Fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- "Paper" theme from bootswatch.com (opensource) -->
        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" />
        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
    {% include "HealthNet/navbar.html" %}
    <br>
    <h3 size="45" color="black" align="center">404 Error: Page Not Found</h3>
    {% include "HealthNet/footer.html" %}
    </body>
</html>