<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html><!-- About Us Modal -->
        <div id="AboutUs" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title" style="text-align: center">About Us</h1>
              </div>
              <div class="modal-body">
                        <h5 align="justify">
                            HealthNet is a website designed to help enable hospitals to manage employees and patients
                            through an easy-to-use and intuitive interface. This product was developed by the software
                            development group <b>2 B Determined Inc.</b> in fall of 2015.
                        </h5>
                <br><br>
              </div>
            </div>
          </div>
        </div>
        <!-- Contact Us Modal -->
        <div id="ContactUs" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>
              <div class="modal-body">
                  <h3 align="center">
                     <u><strong>2 B Determined Contact Information</strong></u>
                  </h3>
                  <br>
                  <h5 align="center">
                      <b>Colin Fausnaught - Team Coordinator</b><br> cjf1613@rit.edu
                      <br><br>
                      <b>Daniel Dang - Test Coordinator</b><br> dxd2791@rit.edu
                      <br><br>
                      <b>Raasin Siddiq - Configuration/QA Coordinator</b><br> res9924@rit.edu
                      <br><br>
                      <b>Bill Tarr - Development Coordinator</b><br> wet1177@rit.edu
                      <br><br>
                      <b>Barry Wu - Requirements Coordinator</b><br> bxw8904@rit.edu
                      <br>
                  </h5>
              </div>
            </div>
          </div>
        </div>

        <div class="footer">
            <div id="footer" class="footer well well-lg">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li class="pull-left"><a href="/Profiles/dashboard/">Home</a></li>
                            <li class="pull-left"><a data-toggle="modal" data-target="#AboutUs">About Us</a></li>
                            <li class="pull-left"><a data-toggle="modal" data-target="#ContactUs">Contact Us</a></li>
                            <li class="pull-right"> &copy; Copyright 2015 2BDetermined Inc.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>