<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" />
<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />
<p><strong>
   Appointment Details Page
</strong></p>

<p>Description: {{appointment}}</p>
<p>Start Time: {{appointment.startTime|time:"h:i A"}}</p>
<p>End Time: {{appointment.endTime|time:"h:i A"}}</p>
<p>Comments: {{appointment.comments}}</p>

<p>
Users Involved:
{% for user in usersInvolved %}
{{user.username}},
{% endfor %}
</p>

<p><a href="{{appointment_id}}/delete">Delete this appointment</p>

<p><a href="{{appointment_id}}/edit">Edit this appointment</a></p>