<html>
    <head>
        <title>{{firstName}} {{lastName}}'s Schedule</title>

        {% load staticfiles %}

        <link rel="stylesheet" type="text\css" href="{% static 'HealthNet\index.css' %}" />
        <link rel="icon"
              type="image/png"
              href="http://i.imgur.com/XD17hkZ.png"/>

        <!-- Icons from Google Web Fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- "Paper" theme from bootswatch.com (opensource) -->
        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" />
        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <style>
            #calendar {
                width: 50%;
                margin: 0 auto;
            }
        </style>


		<link href="//arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.css" rel="stylesheet" />
		<link href="http://arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.print.css" rel="stylesheet" />

		<!-- SCRIPTS -->
		<script class="cssdesk" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
		<script class="cssdesk" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" type="text/javascript"></script>
		<script class="cssdesk" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js" type="text/javascript"></script>
		<script class="cssdesk" src="//arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>


        <script>
            $(function () {
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();
                var app = {{appointments|safe}}
                var lst = [];

                console.log(app.length);
                for (i=0;i<app.length;i++){

                    lst.push({
                        title:app[i][1],
                        start:app[i][2]+"T"+app[i][3],
                        end:app[i][4]+"T"+app[i][5],
                        allDay:false
                    });
                }

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    editable: true,
                    events:lst

                });
            });
        </script>

    </head>

    <body>
        <div style="background-color: #f5f5f5">
                {% include "HealthNet/navbar.html" %}

            <div class="container" >
                <div class="jumbotron" style="overflow-y:scroll; height:600px;">
                    <h1>{{firstName}} {{lastName}}'s Schedule</h1>


                    <form id="buttons">
                        <p>&ensp;<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createappt">Create Appointment</button></p>
                    </form>

                    <br><br>


                    <div class="container">
                        <div id="calendar"></div>
                    </div>



                </div>
            </div>

            <!-- Create Appointment Modal -->
            <div id="createappt" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Appointment</h4>
                  </div>

                    <div class="modal-body">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}

                            <form id="create" method="post" action="/Schedule/">
                                {% csrf_token %}
                                {% if appointment.description.errors %}
                                    <br>
                                    <div class="alert alert-dismissible alert-wdiv ng">
                                        {{ appointment.description.errors }}
                                    </div>
                                    {% endif %}
                                <label> Description: </label><br>{{appointment.description}}<br><br>

                                {% if appointment.startTime.errors %}
                                    <br>
                                    <div class="alert alert-dismissible alert-wdiv ng">
                                        {{ appointment.startTime.errors }}
                                    </div>
                                    {% endif %}
                                <label> Start time: </label>

                                {{appointment.startDate}}
                                {{appointment.startTime}}<br><br>

                                {% if appointment.endTime.errors %}
                                    <br>
                                    <div class="alert alert-dismissible alert-wdiv ng">
                                        {{ appointment.endTime.errors }}
                                    </div>
                                    {% endif %}
                                <label> End time:  </label>{{appointment.endDate}} {{appointment.endTime}}<br><br>

                                <label> Comments: </label><br>{{appointment.comments}}<br><br>

                                <label> Select a Patient: </label><br>
                                {{ appointment.patient }}
                                <br>
                                <br>
                                <label> Doctor: </label><br>
                                {{ appointment.doctor }}

                                <br><br>
                                <input type="submit" class="btn btn-primary" value="Create" />
                                <input type="button" value="Cancel" class="btn btn-primary" data-dismiss="modal">

                            </form>

                  </div>
                </div>

              </div>
            </div>
        </div>


        {% include "HealthNet/footer.html" %}


        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

    </body>
</html>
