<html>
    <head>
            <title>Create Test Result</title>

            {% load staticfiles %}

            <link rel="stylesheet" type="text\css" href="{% static 'Profiles/profiles.css' %}" />
            <link rel="icon"
                  type="image/png"
                  href="http://i.imgur.com/XD17hkZ.png"/>

            <!-- Icons from Google Web Fonts -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <!-- "Paper" theme from bootswatch.com (opensource) -->
            <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" />
            <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        {% include "HealthNet/navbar.html" %}

        <div class="jumbotron">
            {% block content %}
                <h2>Add Test Result</h2>
            <form method="POST">{% csrf_token %}
                <ul>
                    Test Name:<br>
                    <input type="text" name="name">
                    <br>
                    Details:<br>
                    <textarea rows="4" name="details" cols="50"></textarea>
                    <br>
                    Category:<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="Uncategorized" checked> Uncategorized
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="Blood Test"> Blood Test
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="Urine Test"> Urine Test
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="X-Ray"> X-Ray
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="Stool Test"> Stool Test
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="Biopsy"> Biopsy
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="Culture"> Culture
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="Echo-cardiogram"> Echo-cardiogram
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="Ultrasound"> Ultrasound
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="MRI"> MRI
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="Radiology"> Radiology
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="Blood Pressure Test"> Blood Pressure Test
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="category" value="Colonoscopy"> Colonoscopy
                    <br>


                    Approve for patient to view?<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="approved" value="Yes"> Yes
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="approved" value="No" checked> No
                    <br>

                </ul>
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="button" class="btn btn-primary" value="Cancel" onclick="window.location.href='javascript:history.back()'">
            </form>
            {% endblock %}
        </div>

        {% include "HealthNet/footer.html" %}
    </body>
</html>