<html>
    <head>
            <title>Create Surgery</title>

            {% load staticfiles %}

            <link rel="stylesheet" type="text\css" href="{% static 'Profiles\profiles.css' %}" />
            <link rel="icon"
                  type="image/png"
                  href="http://i.imgur.com/XD17hkZ.png"/>

            <!-- Icons from Google Web Fonts -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <!-- "Paper" theme from bootswatch.com (opensource) -->
            <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" />
            <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        {% include "HealthNet/navbar.html" %}

        <div class="jumbotron">
            {% block content %}
                <h2>{{firstName}} {{lastName}}'s Medical Info</h2>
            <form method="POST">{% csrf_token %}
                <ul>
                    <h5>
                        <br>
                    Heart Rate (bpm):<br>
                    <input type="number" name="heart_rate" min="1" required>
                    <br><br>

                    Blood Pressure (mm/Hg):<br>
                    <input type="text" name="blood_pressure" required>
                    <br><br>

                    Blood Type:<br>
                    <input type="text" name="blood_type" required>
                    <br><br>

                    Cholesterol (mg/dL):<br>
                    <input type="num" name="cholesterol" min="1" required>
                    <br><br>

                    Frequent Smoker?<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="frequent_smoker" value="Yes"> Yes
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="frequent_smoker" value="No" checked> No
                    <br><br>
                    Frequent Drinker?<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="frequent_drinker" value="Yes"> Yes
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="frequent_drinker" value="No" checked> No
                    <br><br>
                    </h5>
                </ul>
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="button" class="btn btn-primary" value="Cancel" onclick="window.location.href='javascript:history.back()'">
            </form>
            {% endblock %}
        </div>
        {% include "HealthNet/footer.html" %}
    </body>
</html>