<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <link rel="stylesheet" type="text\css" href="{% static 'Profiles\profiles.css' %}" />

    <title>{{firstName}} {{lastName}}'s Profile</title>

    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" />
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="http://i.imgur.com/XD17hkZ.png"/>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
        <u><b><h3 align="center">{{ firstName }} {{ lastName }}'s Electronic Medical Record</h3></b></u>
        <br>
            <h4><strong>General Information:</strong></h4>
                <p><strong>Name:</strong> {{firstName}} {% if middleName%}{{middleName}} {% endif %}{{lastName}} {% if suffix %}{{suffix}}{% endif %}</p>
                {% if dateOfBirth %} <p><strong>Date of Birth:</strong> {{dateOfBirth}}</p> {% endif %}
                {% if gender %} <p><strong>Gender:</strong> {{gender}}</p> {% endif %}
                {% if height %} <p><strong>Height:</strong> {{height}}"</p> {% endif %}
                {% if weight %} <p><strong>Weight:</strong> {{weight}} lbs.</p> {% endif %}
                {% if phoneNumber %} <p><strong>Phone Number:</strong> {{phoneNumber}}</p> {% endif %}
                {% if addressLine1 %}
                    <p>
                    <strong>Address:</strong><br>
                    {% if addressLine1 %}{{addressLine1 }} <br>{% endif %}
                    {% if addressLine2 %}{{addressLine2 }} <br>{% endif %}
                    {% if city %}{{city}},{% endif %} {% if stateProv %}{{stateProv}}{% endif %} {% if zipCode %}{{zipCode}}{% endif %}
                </p>
                {% endif %}
                {% if insurance_name %}  <p><strong>Insurance Company:</strong> {{insurance_name}}</p> {% endif %}
                {% if insurance_num %}   <p><strong>Insurance Number:</strong> {{insurance_num}}</p> {% endif %}
                {% if emergency_first %} <p><strong>Emergency Contact Name:</strong> {{emergency_first}} {{emergency_last}}</p> {% endif %}
                {% if emergency_phone %} <p><strong>Emergency Phone Number:</strong> {{emergency_phone}}</p> {% endif %}
                {% if isPatient %}<p><strong>Hospital:</strong> {{hospital}} </p> {% endif %}
                {% if isDoctor %}
                    <p><strong>Hospital(s):</strong>
                        <option>{{hospital}}</option>
                    </p>
                {% endif %}
                {% if doctor %} <p><strong>Doctor:</strong> {{doctor.theUser.first_name}} {{ doctor.theUser.last_name }}</p> {% endif %}


                <br><br>
                <!-- Medical Info -->
                <h4><strong>Medical Information:</strong></h4>
                {% if blood_type %} <p><strong>Blood Type:</strong> {{blood_type}}" </p> {% endif %}
                {% if blood_pressure %} <p><strong>Blood Pressure:</strong> {{blood_pressure}} mm/Hg </p> {% endif %}
                {% if heart_rate %} <p><strong>Heart Rate:</strong> {{heart_rate}} bpm </p> {% endif %}
                {% if cholesterol %} <p><strong>Cholesterol:</strong> {{cholesterol}} mg/dL </p> {% endif %}
                {% if frequent_drinker != NULL %}
                    <p><strong>Frequent Drinker: </strong>
                        {% if frequent_drinker %}Yes{% endif %}
                        {% if frequent_drinker == False%}No{% endif %}
                    </p>
                {% endif %}
                {% if frequent_smoker != NULL %}
                    <p><strong>Frequent Smoker:</strong>
                        {% if frequent_smoker %}Yes{% endif %}
                        {% if frequent_smoker == False%}No{% endif %}
                    </p>
                {% endif %}
                <br>


                <h4><strong>Surgeries, Test Results, and Prescriptions:</strong></h4>
                {% for info in surgeries %}
                    <p><strong>Surgery: </strong>{{info.surgeryName}}<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Details: </strong>{{info.surgeryDetails}}<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Date: </strong>{{info.date}}</p>
                {%endfor%}
                <br>


                {% for info in results %}
                    {% if info.isApproved %}
                        <p><strong>Test Name: </strong>{{info.testName}}<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Details: </strong>{{info.testDetails}}<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Category: </strong>{{info.category}}</p>
                    {% endif %}
                {%endfor%}

                <br>


                {% for info in prescriptions %}
                    <p><strong>Prescription: </strong>{{info.name}}<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Doses: </strong>{{info.doses}}<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Comments: </strong>{{info.comments}}</p>
                {%endfor%}


        </div>
    </div>
</body>
</html>