<html>
    <head>
        <title>List of Doctors and Patients in {{hospital}}</title>

        {% load staticfiles %}

        <link rel="stylesheet" type="text\css" href="{% static 'Profiles\profiles.css' %}" />
        <link rel="icon"
              type="image/png"
              href="http://i.imgur.com/XD17hkZ.png"/>

        <!-- Icons from Google Web Fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- "Paper" theme from bootswatch.com (opensource) -->
        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" />
        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
    {% include "HealthNet/navbar.html" %}

        <div class="jumbotron">
            <h2>List of Doctors and Patients in {{hospital}}</h2>
            <div class="well" style="overflow-y:scroll; height:400px; width: 600px;">
                <ul>
                    {% for user in userList %}
                    <li>
                        <a href="/Profiles/{{user.theUser.pk}}/profile">{{user.getType}} : {{user.theUser.first_name}} {{user.theUser.last_name}}</a>
                        <br>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <button class="btn btn-default" onclick="window.location.href='/Profiles'">Manage Active Accounts</button>
            <br>
        </div>

        {% include "HealthNet/footer.html" %}
    </body>
</html>