<html>
    <head>
        {% load staticfiles %}

        <link rel="stylesheet" type="text\css" href="{% static 'Profiles\profiles.css' %}" />

        <title>{{firstName}} {{lastName}}'s Profile</title>

        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" />
        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="http://i.imgur.com/XD17hkZ.png"/>

    </head>

    <body>
    {% include "HealthNet/navbar.html" %}

        <div class="jumbotron">
            <div class="container">
                <h1><strong> Profile Page {% if isPatient or doctorOf or isNurse%}&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-xs" onclick="window.location.href='/Profiles/{{idd}}/export'">Print Page</button>{% endif %}</strong></h1>
                <h3><strong>General Information:</strong></h3> 
                <p><strong>Name:</strong> {{firstName}} {% if middleName%}{{middleName}} {% endif %}{{lastName}} {% if suffix %}{{suffix}}{% endif %}</p>
                {% if dateOfBirth %} <p><strong>Date of Birth:</strong> {{dateOfBirth}}</p> {% endif %}
                {% if gender %} <p><strong>Gender:</strong> {{gender}}</p> {% endif %}
                {% if height %} <p><strong>Height:</strong> {{height}}"</p> {% endif %}
                {% if weight %} <p><strong>Weight:</strong> {{weight}} lbs.</p> {% endif %}
                {% if phoneNumber %} <p><strong>Phone Number:</strong> {{phoneNumber}}</p> {% endif %}
                {% if email %} <p><strong>Email Address:</strong> {{email}}{% endif %}
                {% if addressLine1 %}
                    <p>
                    <strong>Address:</strong><br>
                    {% if addressLine1 %}{{addressLine1 }} <br>{% endif %}
                    {% if addressLine2 %}{{addressLine2 }} <br>{% endif %}
                    {% if city %}{{city}},{% endif %} {% if stateProv %}{{stateProv}}{% endif %} {% if zipCode %}{{zipCode}}{% endif %}
                </p>
                {% endif %}
                {% if insurance_name %}  <p><strong>Insurance Company:</strong> {{insurance_name}}</p> {% endif %}
                {% if insurance_num %}   <p><strong>Insurance Number:</strong> {{insurance_num}}</p> {% endif %}
                {% if emergency_first %} <p><strong>Emergency Contact Name:</strong> {{emergency_first}} {{emergency_last}}</p> {% endif %}
                {% if emergency_phone %} <p><strong>Emergency Phone Number:</strong> {{emergency_phone}}</p> {% endif %}
                {% if iamPatient or isNurse or doctorOf %}<p><strong>Hospital:</strong> {{hospital}} </p> {% endif %}
                {% if iamDoctor %}
                    <p><strong>Hospital(s):</strong><br>
                        {%for hosp in hospital %}
                            {{hosp.name}}<br>
                        {% endfor %}
                    </p>
                {% endif %}
                {% if doctor %} <p><strong>Doctor:</strong> {{doctor.theUser.first_name}} {{ doctor.theUser.last_name }}</p> {% endif %}

                <br>
                <!--<p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#edit">Edit Profile</button></p>-->
                {% if isAdmin or userIsRequestUser %}
                <p><button type="button" class="btn btn-primary btn" onclick="window.location.href='/Register/{{idd}}/edit'"> Edit Profile</button>
                {% endif %}
                {% if profilePatient %}
                    {% if doctorOf or isNurse %}
                <p><button  type="button" class="btn btn-primary btn" onclick="window.location.href='/Register/{{idd}}/edit'"> Edit Profile</button>
                        {% endif %}
                {% endif %}
                {% if isPatient %}<button  type="button" class="btn btn-primary btn" onclick="window.location.href='/Profiles/chooseMyDoctor'">Choose My Doctor</button> {% endif %}</p>
                <!--
                <p>
                    <button onclick="window.location.href = '/Schedule/{{today.year}}/{{today.month}}/{{today.day}}/{{user_id}}'">See this user's schedule</button>

                </p>
                -->
                {% if profilePatient %}
                    {% if doctorOf or isNurse or userIsRequestUser %}
                <br>
                <!-- Medical Info -->
                <h3><strong>Medical Information</strong></h3>
                {% if blood_type %} <p><strong>Blood Type:</strong> {{blood_type}} </p> {% endif %}
                {% if blood_pressure %} <p><strong>Blood Pressure:</strong> {{blood_pressure}} mm/Hg </p> {% endif %}
                {% if heart_rate %} <p><strong>Heart Rate:</strong> {{heart_rate}} bpm </p> {% endif %}
                {% if cholesterol %} <p><strong>Cholesterol:</strong> {{cholesterol}} mg/dL </p> {% endif %}
                {% if frequent_drinker != NULL %}
                    <p><strong>Frequent Drinker: </strong>
                        {% if frequent_drinker %}Yes{% endif %}
                        {% if frequent_drinker == False%}No{% endif %}
                    </p>
                {% endif %}
                {% if frequent_smoker != NULL %}
                    <p><strong>Frequent Smoker:</strong>
                        {% if frequent_smoker %}Yes{% endif %}
                        {% if frequent_smoker == False%}No{% endif %}
                    </p>
                {% endif %}
                <br>
                        {% if doctorOf or isNurse %}
                            <button type="button" class="btn btn-primary btn" onclick="window.location.href='/Profiles/{{idd}}/editMedicalInfo'">
                                Edit General Medical Info</button>
                            {% endif %}

                <h3><strong>Surgeries, Test Results, and Prescriptions:</strong></h3>
                {% for info in surgeries %}
                    <p><strong>Surgery: </strong>{{info.surgeryName}}<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Details: </strong>{{info.surgeryDetails}}<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Date: </strong>{{info.date}}</p>
                {%endfor%}
                <br>

                {% for info in results %}
                    {% if info.isApproved %}
                        <p><strong>Test Name: </strong>{{info.testName}}
                            <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Details: </strong>{{info.testDetails}}<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Category: </strong>{{info.category}}</p>
                    {% endif %}
                {%endfor%}

                <br>

                {% for info in prescriptions %}
                    <p><strong>Prescription: </strong>{{info.name}}
                        {% if doctorOf or isNurse or info.in_use == False%}

                        &nbsp;&nbsp;
                            <form method="POST">{% csrf_token %}
                            <input hidden type="text" name="prescriptionDelete" value="{{info.pk}}">
                         <button class="btn btn-danger btn-xs" type="submit" name="delete" onclick="
                                 if (confirm('Retire this prescription from use?')){
                                    submit;
                                 } else {
                                    return false;
                                 }
                                 "
                                 >Retire this Prescription</button>
                    </form>
                        {% endif %}
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Doses: </strong>{{info.doses}}<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Comments: </strong>{{info.comments}}<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>In Use: </strong>
                    {% if info.in_use == True %}
                        Yes
                    {% endif %}
                    {% if info.in_use == False %}
                        No
                    {% endif %}
                    <br>

                {%endfor%}
                <br>
                {% if doctorOf or isNurse %}
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/Profiles/{{idd}}/createSurgery/'">Add Surgery</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/Profiles/{{idd}}/createTestResults/'">Add Test Result</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/Profiles/{{idd}}/createPrescription'">Add Prescription</button>
                {% endif %}
                {% if doctorOf %}
                    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/Profiles/{{idd}}/approveTestResults/'">View Unapproved Test Results</button><br><br>
                {% endif %}
                <br>
                <!--
                <br>
                <h5><strong>Surgeries</strong></h5>


                <br>
                <h5><strong>Test Results</strong></h5>


                <br>
                <h5><strong>Prescriptions</strong></h5>
                -->
                        {% endif %}
                {% endif %}
                <br>
            </div>
        </div>

        <!-- Edit Modal http://www.w3schools.com/bootstrap/bootstrap_carousel.asp-->

        <div id="edit" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Edit Patient Information</h2>
              </div>
                <div class="modal-body">
                    <div id="myCarousel" class="carousel slide">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                            <div class="item active">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                                <form method="POST" id="edit_form">{% csrf_token %}

                                    {{ user.non_field_errors }}
                                    {% if user.insurance_name.errors %}
                                        <br>
                                        <div class="alert alert-dismissible alert-wdiv ng">
                                            {{ user.insurance_name.errors }}
                                        </div>
                                    {% endif %}
                                    <label>Insurance Company: </label><br>{{user.insurance_name}}<br><br>

                                    {% if user.insurance_num.errors %}
                                        <br>
                                        <div class="alert alert-dismissible alert-warning">
                                            {{ user.insurance_num.errors }}
                                        </div>
                                    {% endif %}
                                    <label>Insurance Number: </label><br>
                                    <p>Must start with a letter, be 12 characters, and cannot contain special characters.</p>
                                    {{user.insurance_num}}<br><br>


                            </div>

                            <div class="item">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" style="width: 33%"></div>
                                </div>
                                {% if user.firstName.errors %}
                                    <br>
                                    <div class="alert alert-dismissible alert-warning">
                                      {{ user.firstName.errors }}
                                    </div>
                                {% endif %}
                                <label>First Name: </label><br>{{user.firstName}}<br><br>

                                {% if user.lastName.errors %}
                                    <br>
                                    <div class="alert alert-dismissible alert-warning">
                                      {{ user.lastName.errors }}
                                    </div>
                                {% endif %}
                                <label>Last Name: </label><br>{{user.lastName}}<br><br>

                                {% if user.username.errors %}
                                    <br>
                                    <div class="alert alert-dismissible alert-warning">
                                        {{ user.username.errors }}
                                    </div>
                                {% endif %}
                                <label>Email: </label><br> {{user.username}}<br><br>



                            </div>
                            <div class="item">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" style="width: 66%"></div>
                                </div>
                                {% if user.password1.errors %}
                                    <br>
                                    <div class="alert alert-dismissible alert-warning">
                                        {{ user.password1.errors }}
                                    </div>
                                {% endif %}
                                <label>Password: </label>
                                <p>Must be between 8-15 characters and contain at least one number and one capital letter.</p>
                                <input type="password" name="password1" value="" size="50" placeholder="Password"/><br>
                                <input type="password" name="password2" value="" size="50" placeholder="Re-type Password"/><br><br>


                                {% if user.hospital.errors %}
                                    <br>
                                    <div class="alert alert-dismissible alert-warning">
                                      {{ user.hospital.errors }}
                                    </div>
                                {% endif %}
                                <label>Hospital:</label>
                                <br>
                                {{ user.hospital }}
                                <br>

                                <br><br><br>
                                <div id="sub">
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                    <input type="button" value="Cancel" class="btn btn-primary" onclick="window.location.href='/'">
                                </div>

                                </form>

                            </div>
                          </div>

                          <!-- Left and right controls -->
                            <div>
                                <a href="#myCarousel" class="btn btn-default" data-slide="prev" id="prev">Previous</a>

                                <a href="#myCarousel" class="btn btn-default" data-slide="next" id="next">Next</a>
                            </div>
                        </div>
                    </div>
              </div>
              <!--
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              -->
            </div>

          </div>
        </div>


            {% include "HealthNet/footer.html" %}

    </body>
</html>