html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.badge {
    background-color: white;
}

.show-hover > ul.dropdown-menu {
    display: block;
}
.navbar {
  border-radius: 0 !important;
}

.glyphicon-bell {

    font-size:1.5rem;
}
#edit_form label{ font-size: 16px; text-align: left;}
#edit_form input{}
#edit_form p{ font-size: 12px; text-align: left;}
.footer {
    background: dimgray;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.footer .well {
    font-size: 12px;
    font-color: lightgrey;
    background-color: dimgrey;
    clear: both;
    border: 5px solid dimgrey;
    padding: 15px;
    color: lightgrey;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
.footer ul { display: inline; }
.footer a       { color: lightgrey; text-decoration: none; }
.footer a:hover { color: white;     text-decoration: none; }

.jumbotron {
    padding: 10%;
}